<div id="web_wb">
    <div class="section page1">
        <div class="row visible-lg visible-md page1-lm">
            <div class="col-lg-4 col-md-4 left">
                <img src="../../images/com.wb.icon/me.jpeg" alt="加载失败">
            </div>
            <div class="col-lg-8 col-md-8 right">
                <div class="desc-wb-lm">
                    <p>爱生活,爱古风!不断追求,不断完美!</p>
                    <p>前端用户体验之路,你值得拥有!</p>
                    <p>吴博</p>
                    <p>22岁</p>
                    <p>前端工程师</p>
                    <p>HS5458@163.com</p>
                </div>
            </div>
        </div>
        <div class="row visible-sm visible-xs page1-sx">
        <div class="col-lg-12 col-md-12 top">
          <img src="../../images/com.wb.icon/me.jpeg" alt="加载失败">
        </div>
        <div class="col-lg-12 col-md-12 bottom">
          <div class="desc-wb-sx">
              <p>爱生活,爱古风!不断追求,不断完美!</p>
              <p>前端用户体验之路,你值得拥有!</p>
              <p>吴博</p>
              <p>22岁</p>
              <p>前端工程师</p>
              <p>HS5458@163.com</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section page2">
      <div class="row-bottom">
        <div class="kills rotateInDownRight">
          <h1>Html+Css</h1>
          <ul>
            <li>1.熟练div+css布局</li>
            <li>2.自适应布局</li>
            <li>3.响应式布局</li>
            <li>4.常见浏览器兼容性</li>
          </ul>
        </div>
        <div class="kills rotateInDownRight">
          <h1>Javascript</h1>
          <ul>
            <li>1.了解面向对象编程技术</li>
            <li>2.页面特效制作</li>
            <li>3.基本的Dom操作</li>
          </ul>
        </div>
        <div class="kills rotateInDownLeft">
          <h1>常用框架和工具</h1>
          <ul>
            <li>1.熟悉JQ,如Dom操作,常用事件处理</li>
            <li>2.了解Bootstap的栅格系统,制作响应式的页面</li>
            <li>3.了解AngularJs的MVVM开发流程,以视图,路由,基础配置,控制器来制作页面.</li>
            <li>4.Grunt和Gulp前段构建工具的使用</li>
            <li>5.yeoman前端工程化工具的使用</li>
          </ul>
        </div>
        <div class="kills rotateInDownRight">
          <h1>软技能</h1>
          <ul>
            <li>1.不断上进的进取心</li>
            <li>2.逻辑思维的判断力</li>
            <li>3.良好的沟通力</li>
            <li>4.良好的问题定位的分析里</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="section page3">Section 3</div>
    <div class="section page4">Section 4</div>
</div>
