<div id="web-wb">
    <div id="content-wb">
        <div class="section page1">
            <div class="row-top">
                <div class="img-wb">
                    <img class="bounceInDown" src="../../images/com.wb.icon/me.jpeg" alt="">
                </div>
                <div class="desc-wb bounceInUp">
                    <span>爱生活,爱古风!不断追求,不断完美,前端用户体验之路,你值得拥有!</span>
                </div>
            </div>
            <div class="row-bottom">
                <div class="kills hs-wb">
                    <h1>Html+Css</h1>
                    <ul>
                        <li>熟练div+css布局</li>
                        <li>移动端自适应布局</li>
                        <li>响应式布局</li>
                        <li></li>
                    </ul>
                </div>
                <div class="kills js-wb">
                    <h1></h1>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="kills angularJs-wb">
                    <h1></h1>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="kills other-wb">
                    <h1></h1>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section page2">Section 2</div>
        <div class="section page3">Section 3</div>
        <div class="section page4">Section 4</div>
    </div>
</div>

