<div id="web_wb">
    <div class="section page1">
        <div class="title">
          个人信息
          <hr>
        </div>
        <div class="row visible-lg visible-md page1-lm">
            <div class="col-lg-4 col-md-4 left">
                <img src="../../images/com.wb.icon/me.jpeg" alt="加载失败">
            </div>
            <div class="col-lg-8 col-md-8 right">
                <div class="desc-wb-lm">
                    <p>爱生活,爱古风!不断追求,不断完美!</p>
                    <p>前端用户体验之路,你值得拥有!</p>
                    <p>吴博</p>
                    <p>22岁</p>
                    <p>前端工程师</p>
                    <p>HS5458@163.com</p>
                </div>
            </div>
        </div>
        <div class="row visible-sm visible-xs page1-sx">
        <div class="col-lg-12 col-md-12 top">
          <img src="../../images/com.wb.icon/me.jpeg" alt="加载失败">
        </div>
        <div class="col-lg-12 col-md-12 bottom">
          <div class="desc-wb-sx">
              <p>爱生活,爱古风!不断追求,不断完美!</p>
              <p>前端用户体验之路,你值得拥有!</p>
              <p>吴博</p>
              <p>22岁</p>
              <p>前端工程师</p>
              <p>HS5458@163.com</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section page2">
        <div class="title">
            专业技能
            <hr>
        </div>
        <div class="row visible-lg row-lg">
            <div class="col-lg-3 kills">
                <div class="flip">
                  <div class="front">
                      HTML
                  </div>
                  <div class="back">
                    <ul>
                      <li>1.熟悉常用的HTML标签</li>
                      <li>2.深刻理解页面布局</li>
                      <li>3.熟悉Web标准</li>
                    </ul>
                  </div>
                </div>
            </div>
            <div class="col-lg-3 kills">
                <div class="flip">
                  <div class="front">
                    CSS
                  </div>
                  <div class="back">
                    <ul>
                      <li>1.精通CSS常用属性</li>
                      <li>2.熟悉动画制作</li>
                      <li>3.熟悉Bootstrap的栅格系统</li>
                      <li>3.主动浏览器兼容西，熟悉常见的CSS HACK</li>
                    </ul>
                  </div>
                </div>
            </div>
            <div class="col-lg-3 kills">
                <div class="flip">
                  <div class="front">
                    JavaScript
                  </div>
                  <div class="back">
                    <ul>
                      <li>1.理解面向对象编程技术</li>
                      <li>2.熟悉数据操作，函数式编程</li>
                      <li>3.深刻理解Dom操作</li>
                    </ul>
                  </div>
                </div>
            </div>
            <div class="col-lg-3 kills">
                <div class="flip">
                    <div class="front">
                        常用框架和工具
                    </div>
                    <div class="back">
                      <ul>
                        <li>1.熟悉JQ,如Dom操作,常用事件处理</li>
                        <li>2.了解AngularJs的MVVM开发流程,以视图,路由,基础配置,控制器来制作页面.</li>
                        <li>3.Grunt和Gulp前段构建工具的使用</li>
                        <li>4.yeoman前端工程化工具的使用</li>
                      </ul>
                    </div>
                </div>
              </div>
        </div>
        <div class="row hidden-lg row-mdx-top">
          <div class="col-md-6 col-sm-6 col-xs-6 kills left">
            <div class="flip">
              <div class="front">
                HTML
              </div>
              <div class="back">
                <ul>
                  <li>1.熟悉常用的HTML标签</li>
                  <li>2.深刻理解页面布局</li>
                  <li>3.熟悉Web标准</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6 kills right">
            <div class="flip">
              <div class="front">
                CSS
              </div>
              <div class="back">
                <ul>
                  <li>1.精通CSS常用属性</li>
                  <li>2.熟悉动画制作</li>
                  <li>3.熟悉Bootstrap的栅格系统</li>
                  <li>3.主动浏览器兼容西，熟悉常见的CSS HACK</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row hidden-lg row-mdx-bottom">
          <div class="col-md-6 col-sm-6 col-xs-6 kills left">
            <div class="flip">
              <div class="front">
                JavaScript
              </div>
              <div class="back">
                <ul>
                  <li>1.理解面向对象编程技术</li>
                  <li>2.熟悉数据操作，函数式编程</li>
                  <li>3.深刻理解Dom操作</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6 kills right">
            <div class="flip">
              <div class="front">
                常用框架和工具
              </div>
              <div class="back">
                <ul>
                  <li>1.熟悉JQ,如Dom操作,常用事件处理</li>
                  <li>2.了解AngularJs的MVVM开发流程,以视图,路由,基础配置,控制器来制作页面.</li>
                  <li>3.Grunt和Gulp前段构建工具的使用</li>
                  <li>4.yeoman前端工程化工具的使用</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="section page3">Section 3</div>
    <div class="section page4">Section 4</div>
</div>
