.h-center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.v-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.c-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.view-content {
    width: 100%;
    height: calc(100% - 60px);
}

/*不能选中*/
.can-not-select{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*滚动条*/
::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: rgba(150, 150, 150, .3);
}
