#head-wb{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:60px;
	background-color: rgba(205, 201, 201, .5);
	opacity:.7;
	z-index:100;
}

#head-wb .img-wb{
	float:left;
	width:50px;
	height:50px;
	margin-top:5px;
	margin-left:20px;
	border-radius: 50%;
	overflow: hidden;
}

#head-wb .img-wb img{
	width:100%;
	height:100%;
}

#head-wb .name-wb{
	float:left;
	width:60px;
	height:20px;
	margin-left:5px;
	margin-top:10px;

	color:black;
	font-size:2em;
	font-weight: 100;
	text-align:center;
}

#head-wb #nav-wb{
	float:right;
	width:40%;
	height:60px;
}

#head-wb #nav-wb ul{
	width:100%;
	height:60px;
	list-style-type: none;
}
#head-wb #nav-wb ul li{
	float: left;
	width:25%;
	height:60px;


	color:black;
	font-size:1.5rem;
	font-weight: 200;
	text-align: center;
	line-height: 60px;

	cursor:pointer;
}
#head-wb #nav-wb ul li:hover{
	box-shadow:inset 0 0 40px 40px rgba(204, 253, 51, 0.6);
}