#web_wb {
	width:100%;
	height:100%;
}
#web_wb .section{
	background-color: #6c9a9d;
}
#web_wb .page1 .page1-lm{
  width:100%;
  height:100%;
}
#web_wb .page1 .page1-lm .left{
  height:100%;
}
#web_wb .page1 .page1-lm .left img{
    position: relative;
    top:50%;
    left:60%;
    transform: translate(-100px,-50%);
	  width:200px;
    height:200px;
    border-radius: 120px;
}
#web_wb .page1 .page1-lm .right{
  height:100%;
}
#web_wb .page1 .page1-lm .right .desc-wb-lm{
    position: relative;
    top:50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    font-size:20px;
    letter-spacing: 10px;
}
#web_wb .page1 .page1-sx{
    width: 100%;
    height:100%;
}
#web_wb .page1 .page1-sx .top{
    height:60%;
}
#web_wb .page1 .page1-sx .top img{
    position: relative;
    top:70%;
    left:50%;
    transform: translate(-100px,-50%);
    width:200px;
    height:200px;
    border-radius: 120px;
}
#web_wb .page1 .page1-sx .bottom{
    height:60%;
}
#web_wb .page1 .page1-sx .bottom .desc-wb-sx{
    position: relative;
    top:0;
    text-align: center;
    color: white;
    font-size:20px;
    letter-spacing: 5px;
}













#web_wb  .page1 .row-bottom {
	height:60%;
}

#web_wb  .page1 .row-bottom .kills{
	float:left;
	width:20%;
	height:200px;
	margin-left:4%;
	padding-left:15px;

	background-color: rgba(174, 238, 238, .2);
	border-radius:10px;

  overflow: scroll;
}

#web_wb  .page1 .row-bottom .kills h1{
	padding-top:10px;
	padding-bottom:10px;
	font-size:2rem;
	text-align: center;
}
