#web_wb {
	width:100%;
	height:100%;
}
#web_wb .page1{
	background-color: #6c9a9d;
}
#web_wb .page1 .img-wb{
	width:230px;
	height:230px;
}
#web_wb .page1 .img-wb img{
	width:100%;
	height:100%;
}
#web_wb .page1 .desc-wb{
	width:462px;
	margin:0 auto;
	padding-top: 20px;
}
#web_wb .page1 .desc-wb p{
	width:100%;
	font-size: 20px;
	text-align: center;
}

#web_wb  .page1 .row-bottom {
	height:60%;
}

#web_wb  .page1 .row-bottom .kills{
	float:left;
	width:20%;
	height:200px;
	margin-left:4%;
	padding-left:15px;

	background-color: rgba(174, 238, 238, .2);
	border-radius:10px;

  overflow: scroll;
}

#web_wb  .page1 .row-bottom .kills h1{
	padding-top:10px;
	padding-bottom:10px;
	font-size:2rem;
	text-align: center;
}
